<h1>Categories</h1>

  <% if params[:notice] %>
    Wowowowowow
  <% end %>
  <%= params[:notice] %>

<ul class="nav nav-tabs">

  <% @categories.each do |category| %>
    <% if category.id == 1 %>
    <li class="active">
    <% else %>
    <li>
    <% end %>
    <a data-toggle="tab" href="#<%=category.name%>"><%= category.name %></a>
    </li>
  <% end %>
  <li>
  <%= link_to '+ New Category', [:new, :admin, :category], class: 'btn-outline btn-info' %>
  </li>
</ul>
<div class="tab-content">
<% @categories.each do |category| %>
  <% if category.id == 1 %>
  <div id="<%= category.name %>" class="tab-pane fade in active">
  <% else %>
  <div id="<%=category.name%>" class="tab-pane fade">
  <% end %>
    <h3><%=category.name%> </h3>
  <section class="categories-show">
    <div class="products">
    <% category.products.each do |product| %>
      <%= render partial: "admin/categories/product", locals: {product: product}%>
      <% end %>

    </div>
    </section>
  </div>
  <% end %>
  </div>